*.log
*.lof
*.aux
*.out
*.toc
*.bak
*.idx
*.synctex.gz
sample.pdf
*.bbl
*.blg
*(busy)
*.bib$
*.sav
*.ilg
*.ind
*.acn
*.acr
*.alg
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.ist
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.pdfsync
*.ps
*.run.xml
*.snm
*.vrb
*.xdy
*.tdo
*.thm
*.cls